/* CSS */
body {
  background-color: rgb(243, 244, 249);
}

.Working {
  color: blue;
}

.Hold {
  color: orange;
}

.Done {
  color: green;
}

.TimelineContainer {
  height: 400px;
  overflow: scroll;
  border: 1px solid #dee2e6;
  background-color: #fbfbfb;
  border-radius: 5px;
}